[Unit]
Description=Linux System Tweaks
After=multi-user.target

[Service]
ExecStart=/etc/xopt/tweak
Type=oneshot

[Install]
WantedBy=multi-user.target
