[Unit]
Description=Linux System Tweaks
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/tweak
Type=oneshot

[Install]
WantedBy=multi-user.target
